body{
    font-family: 'Poppins', sans-serif;
}
.name-color{
    color:orange;
}
h1{
    font-size: 50px;
  font-weight: 600;
}
.half-width{
    width:40%;
    float:left;
    margin-left:5%;
    padding-left: 2%;
    
}
.half-width img{
    width:100%;
}