body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    
}
p{
    color:dimgray;
    font-size:17px;
}
.name-color{
    color:orange;
}
h1{
    font-size: 50px;
  font-weight: 600;
}
.half-width{
    width:40%;
    float:left;
    margin-left:5%;
    padding-left: 2%;
    
}
.half-width img{
    width:100%;
}
section{
    height: 550px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat:no-repeat;
    
    
}
.link-button{
    text-decoration: none;
    padding:8px 23px;
    background-image:linear-gradient(lightsalmon, tomato);
    color:white;
    border-radius:5px;
    font-weight: 700;
}
h2{
    font-size: 40px;
    font-weight: 600;
}
h3{
    font-weight: 600;
    font-size:20px;
}
.dream-area{
    background-image:url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position:right;
   
    
}
.single-experiance{
    box-shadow: 10px 10px 40px gray;
    height: 70%;
}
.experiance-area{
    background-image:url("images/exp-bg.png");
    background-repeat:no-repeat;
    background-position:left;
}
#full-stack{
    border-left:7px solid;
    border-image:linear-gradient(180deg, salmon, tomato);
    border-image-slice:1;
}
#baby-web{
    border-left:7px solid;
    border-image:linear-gradient(180deg, blue, cyan);
    border-image-slice:1;
}
footer p{
    text-align:center;
    font-size:12px;
}